<div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" href="#heatingControlPanel">$Labels.Calduino.heatingAdmin</a>
			</h4>
		</div>
		<div id="heatingControlPanel" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="row ">
					<div id="controlPanelDiv" class="col-md-12 " style="border-width: 2px;padding-top: 5px;padding-bottom: 5px;border-style: solid; border-color:#ffffff"; ">		
						<form action="" id="controlPanelForm" onsubmit="javascript:sendValue();return false;" method="post">
							<!-- Information subpanel and buttons -->					
							<div class="row" style="margin-top: 10px;" >
								<div class="col-md-3 btn-group" style="margin-bottom:20px">
									<div class="row pull-left" style="margin-bottom:8px; margin-top:8px" >
										<div class="col-xs-6">
											<button type="button" class="btn btn-primary" style="width:90px" id="update" onclick="updateGeneralMonitorXML()">$Labels.Calduino.update</button>
										</div>
										<div class="col-xs-6">
											<button type="submit" class="btn btn-success" style="width:90px" id="sendButton">$Labels.Calduino.send</button>
										</div>
									</div>
								</div>						
								
								<div class="col-md-8 text-right" style="margin-bottom:10px;padding-right: 50px;" >
									<img id="UBAMonitorFast-BurnGas" data-toggle="tooltip" title="$Labels.Calduino.burnGas" src="icons/BurnGasOn.png" alt="" height="50">
									<img id="UBAMonitorFast-IgnWork" data-toggle="tooltip" title="$Labels.Calduino.ignition" src="icons/IgnWorkOn.png" alt="" height="50">
									<img id="UBAMonitorFast-FanWork" data-toggle="tooltip" title="$Labels.Calduino.fan" src="icons/FanWorkOn.png" alt="" height="50">
									<img id="UBAMonitorFast-HeatPmp" data-toggle="tooltip" title="$Labels.Calduino.heatPmp" src="icons/HeatPmpOn.png" alt="" height="50">					
									<img id="MonitorHC1-DayModHC" data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.dayMod" src="icons/DayModHCOn.png" alt="" height="50">								
									<img id="MonitorHC1-SummerModHC" data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.sumMod" src="icons/SummerModHCOn.png" alt="" height="50">							
									<img id="UBAMonitorFast-CircDHW" data-toggle="tooltip" title="$Labels.Calduino.circ" src="icons/CircDHWOn.png" alt="" height="50">											
									<img id="UBAMonitorFast-Way3ValveDHW" data-toggle="tooltip" title="$Labels.Calduino.dhwHeat" src="icons/Way3ValveDHWOn.png" alt="" height="50">											
									<img id="UBAMonitorDHW-DayModeDHW" data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.dayModDHW" src="icons/DayModeDHWOn.png" alt="" height="50">
									<img id="UBAMonitorDHW-PrepareDHW" data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.prepareDHW" src="icons/PrepareDHWOn.png" alt="" height="50">								
								</div>	
								
								<div class="col-md-1 col-xs-12" style="height: 39px;">							
								</div>
								
							</div>							
		
							<!-- HC1, HC2, WW panels -->
							
							<!-- HC1 Panel -->
							<div class="row" style="margin-top: 10px;" >
								<div class="col-md-12">
									<div class="row" >
										<div class="col-md-2 col-xs-12">							
											<h4>$Labels.Calduino.hc1</h4>	
										</div>
										
										<div class="col-md-9 col-xs-12">
										
											<div class="col-xs-12 col-md-3 text-left calduinoInputs" id="WorkingModeHC1-WorkModeHC-Div">
												<div class="col-xs-6" data-toggle="tooltip" title="$Labels.Calduino.modeInput">
													<h5>$Labels.Calduino.mode:</h5>							
												</div>
												<div class="col-xs-6" >
													<select id="WorkingModeHC1-WorkModeHC" name="mode" onchange="disableAllElements(this)" data-html="true" data-container="body" data-toggle="tooltip" title="$Labels.Calduino.modeInputInfo">
														<option value="2">$Labels.Calduino.modeAuto</option>
														<option value="1">$Labels.Calduino.modeDay</option>
														<option value="0">$Labels.Calduino.modeNight</option>
													</select>
												</div>
											</div>	
											
											<div class="col-xs-12 col-md-3 calduinoInputs" id="WorkingModeHC1-SelDayTempHC-Div">
												<div class="col-xs-6" data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.dayInput">
													<h5>$Labels.Calduino.day:</h5>							
												</div>
												<div class="col-xs-6" >
													<input id="WorkingModeHC1-SelDayTempHC" type="number" name="quantity" min="6" max="29" step="0.5" pattern="[0-9]{1,2}.[0-5]$" onchange="disableAllElements(this)">
												</div>
											</div>
											
											<div class="col-xs-12 col-md-3 calduinoInputs" id="WorkingModeHC1-SelNightTempHC-Div">
												<div class="col-xs-6" data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.nightInput">
													<h5>$Labels.Calduino.night:</h5>							
												</div>
												<div class="col-xs-6" >
													<input id="WorkingModeHC1-SelNightTempHC" type="number" name="quantity" min="6" max="29" step="0.5" pattern="[0-9]{1,2}.[0-5]$" onchange="disableAllElements(this)">
												</div>
											</div>
											
											<div class="col-xs-12 col-md-3 text-left calduinoInputs" id="Program1HC1-ProgramName-Div">
												<div class="col-xs-6" data-toggle="tooltip" title="$Labels.Calduino.programInfo">
													<h5>$Labels.Calduino.program:</h5>							
												</div>
												<div class="col-xs-6" >
													<select id="Program1HC1-ProgramName" name="program" onchange="disableAllElements(this)">														
														<option value="0">$Labels.Calduino.user1</option>														
														<option value="9">$Labels.Calduino.user2</option>														
														<option value="1">$Labels.Calduino.family</option>
														<option value="2">$Labels.Calduino.morning</option>
														<option value="3">$Labels.Calduino.night</option>
														<option value="4">$Labels.Calduino.midmorning</option>
														<option value="5">$Labels.Calduino.afternoon</option>
														<option value="6">$Labels.Calduino.midday</option>
														<option value="7">$Labels.Calduino.single</option>
														<option value="8">$Labels.Calduino.senior</option>
													</select>
												</div>
											</div>
											
										</div>
										
										<div class="col-md-1 col-xs-4 text-center" style="height: 39px;" >							
											<button type="button" id="Program1HC1-ProgramName-Button" class="btn btn-danger" onclick="editProgram(12)" style="vertical-align: text-top;" data-toggle="tooltip" title="$Labels.Calduino.programEdit">
												<span class="glyphicon glyphicon-edit">
												</span>
											</button>	
										</div>
										
									</div>
									<div class="row" >
									
										<div class="col-md-2 col-xs-12">							
												<h4></h4>	
										</div>
										
										<div class="col-md-9 col-xs-12">
											<div class="col-xs-12 col-md-3 calduinoInputs" id="WorkingModeHC1-RoomTempOffHC-Div">
												<div class="col-xs-6" data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.offsetInfo">
													<h5>$Labels.Calduino.offset:</h5>							
												</div>
												<div class="col-xs-6" >
													<input id="WorkingModeHC1-RoomTempOffHC" type="number" name="quantity" min="-5" max="5" step="0.5" pattern="[0-9]{1,2}.[0-5]$" onchange="disableAllElements(this)">
												</div>
											</div>
											
											<div class="col-xs-12 col-md-3 text-left calduinoInputs" id="WorkingModeHC1-NightSetbackHC-Div">
												<div class="col-xs-6" data-toggle="tooltip" title="$Labels.Calduino.setbackInfo">
													<h5>$Labels.Calduino.setback:</h5>							
												</div>
												<div class="col-xs-6" >
													<select id="WorkingModeHC1-NightSetbackHC" name="mode" onchange="disableAllElements(this)"  data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.setbackInfo2">
														<option value="3">$Labels.Calduino.setbackExt</option>
														<option value="1">$Labels.Calduino.setbackOn</option>
														<option value="0">$Labels.Calduino.setbackOff</option>
													</select>
												</div>
											</div>
											
											<div class="col-xs-12 col-md-3 calduinoInputs" id="WorkingModeHC1-NightOutTempHC-Div">
												<div class="col-xs-6" data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.nightThresholdOutTempInfo">
													<h5>$Labels.Calduino.nightThresholdOutTemp:</h5>							
												</div>
												<div class="col-xs-6" >
													<input id="WorkingModeHC1-NightOutTempHC" type="number" name="quantity" min="-20" max="10" step="1" pattern="[0-9]{1,2}$" onchange="disableAllElements(this)">
												</div>
											</div>
											
											<div class="col-xs-12 col-md-3 text-left calduinoInputs" id="WorkingModeHC1-SWThresTempHC-Div">
												<div class="col-xs-6" data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.sWThresholdTempInfo">
													<h5>$Labels.Calduino.sWThresholdTemp:</h5>							
												</div>
												<div class="col-xs-6" >
													<input id="WorkingModeHC1-SWThresTempHC" type="number" name="quantity" min="10" max="30" step="1" pattern="[0-9]{1,2}$" onchange="disableAllElements(this)">
												</div>
											</div>
											
										</div>
										
										<div class="col-md-1 col-xs-12" style="height: 39px;">							
										</div>
										
									</div>							
								</div>
							</div>
							
							<hr size="2px" color="black" />

							<!-- HC2 Panel -->
							<div class="row" style="margin-top: 10px;" >
								<div class="col-md-12">
									<div class="row" >
									
										<div class="col-md-2 col-xs-12">							
											<h4>$Labels.Calduino.hc2</h4>	
										</div>
										
										<div class="col-md-9 col-xs-12">	
											<div class="col-xs-12 col-md-3 text-left calduinoInputs" id="WorkingModeHC2-WorkModeHC-Div">
												<div class="col-xs-6" data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.modeInput">
													<h5>$Labels.Calduino.mode:</h5>							
												</div>
												<div class="col-xs-6" >
													<select id="WorkingModeHC2-WorkModeHC" name="mode" onchange="disableAllElements(this)" data-html="true" data-container="body" data-toggle="tooltip" title="$Labels.Calduino.modeInputInfo">
														<option value="2">$Labels.Calduino.modeAuto</option>
														<option value="1">$Labels.Calduino.modeDay</option>
														<option value="0">$Labels.Calduino.modeNight</option>
													</select>
												</div>
											</div>
											<div class="col-xs-12 col-md-3 calduinoInputs" id="WorkingModeHC2-SelDayTempHC-Div">
												<div class="col-xs-6" data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.dayInput">
													<h5>$Labels.Calduino.day:</h5>							
												</div>
												<div class="col-xs-6" >
													<input id="WorkingModeHC2-SelDayTempHC" type="number" name="quantity" min="6" max="29" step="0.5" pattern="[0-9]{1,2}.[0-5]$" onchange="disableAllElements(this)">
												</div>
											</div>
											<div class="col-xs-12 col-md-3 calduinoInputs" id="WorkingModeHC2-SelNightTempHC-Div">
												<div class="col-xs-6" data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.nightInput">
													<h5>$Labels.Calduino.night:</h5>							
												</div>
												<div class="col-xs-6" >
													<input id="WorkingModeHC2-SelNightTempHC" type="number" name="quantity" min="6" max="29" step="0.5" pattern="[0-9]{1,2}.[0-5]$" onchange="disableAllElements(this)">
												</div>
											</div>
											<div class="col-xs-12 col-md-3 text-left calduinoInputs" id="Program1HC2-ProgramName-Div">
												<div class="col-xs-6" data-toggle="tooltip" title="$Labels.Calduino.programInfo">
													<h5>$Labels.Calduino.program:</h5>							
												</div>
												<div class="col-xs-6" >
													<select id="Program1HC2-ProgramName" name="program" onchange="disableAllElements(this)">														
														<option value="0">$Labels.Calduino.user1</option>														
														<option value="9">$Labels.Calduino.user2</option>														
														<option value="1">$Labels.Calduino.family</option>
														<option value="2">$Labels.Calduino.morning</option>
														<option value="3">$Labels.Calduino.night</option>
														<option value="4">$Labels.Calduino.midmorning</option>
														<option value="5">$Labels.Calduino.afternoon</option>
														<option value="6">$Labels.Calduino.midday</option>
														<option value="7">$Labels.Calduino.single</option>
														<option value="8">$Labels.Calduino.senior</option>
													</select>
												</div>
											</div>
										</div>
										
										<div class="col-md-1 col-xs-4 text-center" style="height: 39px;" >							
											<button type="button" id="Program1HC2-ProgramName-Button" class="btn btn-danger" onclick="editProgram(16)" style="vertical-align: text-top;" data-toggle="tooltip" title="$Labels.Calduino.programEdit">
												<span class="glyphicon glyphicon-edit">
												</span>
											</button>	
										</div>
										
									</div>
									<div class="row" >
									
										<div class="col-md-2 col-xs-12">							
												<h4></h4>	
										</div>
										
										<div class="col-md-9 col-xs-12">
										
											<div class="col-xs-12 col-md-3 calduinoInputs" id="WorkingModeHC2-RoomTempOffHC-Div">
												<div class="col-xs-6" data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.offsetInfo">
													<h5>$Labels.Calduino.offset:</h5>							
												</div>
												<div class="col-xs-6" >
													<input id="WorkingModeHC2-RoomTempOffHC" type="number" name="quantity" min="-5" max="5" step="0.5" pattern="[0-9]{1,2}.[0-5]$" onchange="disableAllElements(this)">
												</div>
											</div>
											
											<div class="col-xs-12 col-md-3 text-left calduinoInputs" id="WorkingModeHC2-NightSetbackHC-Div">
												<div class="col-xs-6" data-toggle="tooltip" title="$Labels.Calduino.setbackInfo">
													<h5>$Labels.Calduino.setback:</h5>							
												</div>
												<div class="col-xs-6" >
													<select id="WorkingModeHC2-NightSetbackHC" name="mode" onchange="disableAllElements(this)" data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.setbackInfo2">
														<option value="3">$Labels.Calduino.setbackExt</option>
														<option value="1">$Labels.Calduino.setbackOn</option>
														<option value="0">$Labels.Calduino.setbackOff</option>
													</select>
												</div>
											</div>
											
											<div class="col-xs-12 col-md-3 calduinoInputs" id="WorkingModeHC2-NightOutTempHC-Div">
												<div class="col-xs-6" data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.nightThresholdOutTempInfo">
													<h5>$Labels.Calduino.nightThresholdOutTemp:</h5>							
												</div>
												<div class="col-xs-6" >
													<input id="WorkingModeHC2-NightOutTempHC" type="number" name="quantity" min="-20" max="10" step="1" pattern="[0-9]{1,2}$" onchange="disableAllElements(this)">
												</div>
											</div>
											
											<div class="col-xs-12 col-md-3 text-left calduinoInputs" id="WorkingModeHC2-SWThresTempHC-Div">
												<div class="col-xs-6"  data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.sWThresholdTempInfo">
													<h5>$Labels.Calduino.sWThresholdTemp:</h5>							
												</div>
												<div class="col-xs-6" >
													<input id="WorkingModeHC2-SWThresTempHC" type="number" name="quantity" min="10" max="30" step="1" pattern="[0-9]{1,2}$" onchange="disableAllElements(this)">
												</div>
											</div>
											
										</div>
										
										<div class="col-md-1 col-xs-12" style="height: 39px;">							
										</div>
										
									</div>							
								</div>
							</div>
							
							<hr size="2px" color="black" />													
							
							<!-- DHW Panel -->
							<div class="row" style="margin-top: 10px;" >								
								<div class="col-md-12">
									<div class="row" >
									
										<div class="col-md-2 col-xs-12">							
											<h4>$Labels.Calduino.dHW</h4>	
										</div>
										
										<div class="col-md-9 col-xs-12"  >
										
											<div class="col-xs-12 col-md-3 calduinoInputs" id="UBAParameterDHW-SelTempDHW-Div">
												<div class="col-xs-6" data-toggle="tooltip" title="$Labels.Calduino.dHWTempInfo">
													<h5>$Labels.Calduino.dHWTemp:</h5>							
												</div>
												<div class="col-xs-6" >
													<input id="UBAParameterDHW-SelTempDHW" type="number" name="quantity" min="40" max="70" step="1" pattern="[0-9]{1,2}$" onchange="disableAllElements(this)">
												</div>
											</div>
											
											<div class="col-xs-12 col-md-3 calduinoInputs" id="UBAMonitorDHW-OneTimeDHW-Div">
												<div class="col-xs-6" data-toggle="tooltip" title="$Labels.Calduino.dHWExtraInfo">
													<h5>$Labels.Calduino.dHWExtra:</h5>							
												</div>
												<div class="col-xs-6" >
													<select id="UBAMonitorDHW-OneTimeDHW" name="mode" onchange="disableAllElements(this)">
														<option value="1">$Labels.Calduino.dHWExtraOn</option>
														<option value="0">$Labels.Calduino.dHWExtraOff</option>
													</select>
												</div>
											</div>
											
											<div class="col-xs-12 col-md-3 calduinoInputs" id="WorkingModeDHW-WorkModeDHW-Div">
												<div class="col-xs-6" data-toggle="tooltip" title="$Labels.Calduino.dHWModeInput">
													<h5>$Labels.Calduino.dHWMode:</h5>							
												</div>
												<div class="col-xs-6" >
													<select id="WorkingModeDHW-WorkModeDHW" name="mode" onchange="disableAllElements(this)" data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.dHWModeInfo">
														<option value="2">$Labels.Calduino.dHWModeAuto</option>
														<option value="1">$Labels.Calduino.dHWModeOn</option>
														<option value="0">$Labels.Calduino.dHWModeOff</option>
													</select>
												</div>
											</div>
											
											<div class="col-xs-12 col-md-3 calduinoInputs" id="WorkingModeDHW-ProgDHW-Div">
												<div class="col-xs-6" data-toggle="tooltip" title="$Labels.Calduino.dHWProgramInfo">
													<h5>$Labels.Calduino.dHWprogram:</h5>							
												</div>
												<div class="col-xs-6" >
													<select id="WorkingModeDHW-ProgDHW" name="program" onchange="disableAllElements(this)">														
														<option value="000">$Labels.Calduino.dHWProgramCal</option>														
														<option value="255">$Labels.Calduino.dHWProgramOwn</option>
													</select>
												</div>
											</div>
											
										</div>	
										
										<div class="col-md-1 col-xs-4 text-center" style="height: 39px;">							
											<button type="button" id="ProgramDHW-Button" class="btn btn-danger" onclick="editProgram(8)" style="vertical-align: text-top;" data-toggle="tooltip" title="$Labels.Calduino.dHWProgramEdit">
												<span class="glyphicon glyphicon-edit">
												</span>
											</button>	
										</div>
										
									</div>
								
									<div class="row" >
									
										<div class="col-md-2 col-xs-12">							
											<h4></h4>	
										</div>
										
										<div class="col-md-9 col-xs-12"  >
										
											<div class="col-xs-12 col-md-3 calduinoInputs" id="WorkingModeDHW-WorkModeTDDHW-Div">
												<div class="col-xs-6" data-toggle="tooltip" title="$Labels.Calduino.TDDHWInfo">
													<h5>$Labels.Calduino.TDDHW:</h5>							
												</div>
												<div class="col-xs-6" >
													<select id="WorkingModeDHW-WorkModeTDDHW" name="mode" onchange="disableAllElements(this)">
														<option value="255">$Labels.Calduino.dHWExtraOn</option>
														<option value="0">$Labels.Calduino.dHWExtraOff</option>
													</select>
												</div>
											</div>
											
											<div class="col-xs-12 col-md-3 calduinoInputs" id="UBAParameterDHW-SelTempTDDHW-Div">
												<div class="col-xs-6" data-toggle="tooltip" title="$Labels.Calduino.tempTDDHWInfo">
													<h5>$Labels.Calduino.tempTDDHW:</h5>							
												</div>
												<div class="col-xs-6" >
													<input id="UBAParameterDHW-SelTempTDDHW" type="number" name="quantity" min="30" max="90" step="1" pattern="[0-9]{1,2}$" onchange="disableAllElements(this)">
												</div>
											</div>

											<div class="col-xs-12 col-md-3 calduinoInputs" id="WorkingModeDHW-DayTDDHW-Div">
												<div class="col-xs-6" data-toggle="tooltip" data-html="true" data-container="body" title="$Labels.Calduino.dayTDDHWInfo">
													<h5>$Labels.Calduino.dayTDDHW:</h5>							
												</div>
												<div class="col-xs-6" >
													<select id="WorkingModeDHW-DayTDDHW" name="program" onchange="disableAllElements(this)">														
														<option value="0">$Labels.Calduino.monday</option>														
														<option value="1">$Labels.Calduino.tuesday</option>
														<option value="2">$Labels.Calduino.wednesday</option>
														<option value="3">$Labels.Calduino.thursday</option>
														<option value="4">$Labels.Calduino.friday</option>
														<option value="5">$Labels.Calduino.saturday</option>
														<option value="6">$Labels.Calduino.sunday</option>
														<option value="7">$Labels.Calduino.everyday</option>
													</select>
												</div>
											</div>	

											<div class="col-xs-12 col-md-3 calduinoInputs" id="WorkingModeDHW-HourTDDHW-Div">
												<div class="col-xs-6" data-toggle="tooltip" title="$Labels.Calduino.hourTDDHWInfo">
													<h5>$Labels.Calduino.hourTDDHW:</h5>							
												</div>
												<div class="col-xs-6" >
													<input id="WorkingModeDHW-HourTDDHW" type="number" name="quantity" min="0" max="23" step="1" pattern="[0-9]{1,2}$" onchange="disableAllElements(this)">
												</div>
											</div>										

										</div>
										
										<div class="col-md-1 col-xs-12" style="height: 39px;">							
										</div>
										
									</div>
									
								</div>
								
							</div>
							
							<hr size="2px" color="black" />		
								
							<!-- Status Panel -->
							<div class="row" style="margin-top: 10px;" >
								<div class="col-md-12">		
									<div class="row" >
										<div class="col-md-2">
											<h4>$Labels.Calduino.status</h4>	
										</div>
										<div class="col-md-8" style="height:  39px;margin-left: 35px;">	
											<div class="col-md-12">	
												<div class="row">
												
													<div class="col-xs-1"  style="padding: 0px;max-width:30px;text-align: right;">
														<h5 id="UBAMonitorFast-SrvCode1">-</h5>
													</div>
													
													<div class="col-xs-1"  style="padding: 0px;max-width:30px;">
														<h5 id="UBAMonitorFast-SrvCode2">-</h5>
													</div>
													
													<div class="col-xs-2"  style="padding-right: 0px;padding-left: 5px; max-width:40px;">
														<h5 id="UBAMonitorFast-ErrCode">-</h5>
													</div>	
													
													<div class="col-xs-8" style="padding-right: 0px; padding-left: 5px;">
														<h5 id="UBAMonitorFast-ErrCodeText">-</h5>
													</div>	
													
												</div>	
											</div>													
										</div>
										
										<div class="col-md-1 col-xs-12" style="height: 39px;">							
										</div>
										
									</div>
								</div>
							</div>							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	

<!-- Modal1 -->
<div class="modal fade" id="sendingDataModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modalTitle" >
					<span class="glyphicon glyphicon-time"></span>							
					TITULO
				</h4>
			</div>
			<div class="modal-body">
				<p id="modalParam">INFO</p>
				<p id="modalValue">VALUE</p>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						$Labels.Calduino.sending
						</div>
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>		  
	</div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="settingProgramModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="settingProgramModalTitle" >
					<span class="glyphicon glyphicon-time"></span>							
					TITULO
				</h4>
			</div>
			<div class="modal-body" style="max-height: calc(75vh - 212px); overflow-y: auto;">
				<div class="container-fluid">
					<div class="row">
						<div id="settingProgramParams" class="col-md-12">				
							<p id="settingProgramModalParam">
							INFO
							</p>
							<p id="settingProgramModalValue">
							VALUE
							</p>
						</div>
					</div>
					<div id="chargingProgramProgressBar" class="row">
						<div class="progress col-md-12 no-padding">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
								$Labels.Calduino.sending
							</div>
						</div>
					</div>
					<div id="settingProgramTable" style="display:none" >

					</div>
				</div>
			</div>
			<div class="modal-footer">				
				<button type="button" id="refreshSwitchPointsButton" class="btn btn-primary" onclick="refreshProgramSwitchPoints()">$Labels.Calduino.update</button>
				<button type="button" id="sendSwitchPointsButton" class="btn btn-success" onclick="sendProgramSwithPoints()">$Labels.Calduino.send</button>
				<button type="button" id="closeSwitchPointsButton" class="btn btn-default" data-dismiss="modal" onclick="deleteProgramValues()">$Labels.Calduino.close</button>
			</div>
		</div>		  
	</div>
</div> 